div {
    width: 100%;
    min-width: 200px;
    max-width: 600px;
    height: 50%;
    padding: 10px;
    border: 2px solid black;
    margin-top: 2rem;
    /* overflow: hidden; */
}
#header1 {
    position: sticky;
    top: 10px;
    background-color: brown;
    z-index: 1;
}
.parent {
    width: 100%;
    max-width: 700px !important;
}

.box1 {
    background-color: aliceblue;
    position: relative;
    height: 1224px;
    top: 10px;
    left: 10rem;
    z-index: 0;
}

.box2 {
    background-color: antiquewhite;
    /* position: absolute;
    height: fit-content; */
}

/* .box3 {
    background-color: aqua;
    position: fixed;
    height: fit-content;
} */

.box4 {
    background-color: aquamarine !important;
    height: fit-content;
}