<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Landing Page</title>
    <link rel="stylesheet" href="style.css">

</head>

<body>
    <div class="container">

        <!-- start header -->
        <div class="navbar">
            <h2>Logo</h2>
            <div class="navMenu">
                <a href="#">Home</a>
                <a href="#">Career</a>
                <a href="#">About</a>
                <a href="#">Blog</a>
                <a href="#">Contact</a>
            </div>
            
        </div>
        <!-- end header -->

        <!-- start hero section -->
        <div class="main">
            <h4>This blog will help to know how to use grid to make complex page layout and also use flex with grid to
                make more complex layout.</h4>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Vitae id, impedit illo quas iure magnam atque
                accusantium incidunt in molestias ipsa autem ullam voluptates libero, eaque ratione optio mollitia
                minus.</p>
            <button>Explore Now</button>
        </div>
        <!-- end hero section -->

        <!-- Add Image -->
        <div class="ads">
            <img src="https://images.unsplash.com/photo-1618477247222-acbdb0e159b3?q=80&w=1964&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
                alt="img">
            <div class="time">
                Current Time Displays
            </div>
        </div>
        <!-- End Image -->
        <!-- Start footer -->
        <div class="footer">
            <div class="desc">
                <h2>Welcome to this site!</h2>
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ipsam accusantium perspiciatis voluptatibus
                    sint animi hic saepe numquam obcaecati ipsum neque!</p>
            </div>
            <div class="link_section">
                <h2>Links</h2>
                <a href="#">Home</a>
                <a href="#">Career</a>
                <a href="#">About</a>
                <a href="#">Blog</a>
                <a href="#">Contact</a>
            </div>
            <div class="address">
                <h2>Address</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Odio, placeat.</p>
            </div>
        </div>
        <!-- End footer -->

    </div>

    <script src="script.js"></script>
</body>

</html>