<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Third layout</title>
    <link rel="stylesheet" href="style.css">
</head>

<body>
    <div class="container">
        <div class="navbar_container">
            <!-- <div class="menu_symbol">
                <span class="menubtn" onclick="openMenu()">&#9776</span>
                <span class="closebtn" onclick="closeMenu()">&#9746</span>
            </div> -->
            nav
        </div>
        <div class="main_content">main_content</div>
        <div class="ads">ads</div>
        <div class="footer">footer</div>
    </div>

    <script src="script.js"></script>
</body>

</html>