* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

// not in used as of now.
.btn {
    padding: 1.1rem 2rem;
    margin: 0 auto;
    background: darken($color: #da3ad5, $amount: 50);
    font-size: 1.2rem;
    font-weight: bolder;
    display: block;
}

// extent directive will inherit all properties of .btn class.
button {
    @extend .btn;
    color: #ffffff;
    margin-top: 7rem !important;
    border-radius: 1rem;
}