* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 100%;
}

.container {
    width: 100%;
    height: 100%;
    border: 4px solid red;
    padding: 2rem;
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    /* justify-items: start; */
    /* justify-items: end; */
    /* justify-items: center; */
    /* justify-items: stretch; */

    /* align-items: center; */
    /* align-items: end; */
    /* align-items: start; */
    /* align-items: stretch; */
    /* place-items: center stretch; */
}

.item {
    /* height: 100px;
    width: 100px; */
    padding: 2rem;
    background-color: blueviolet;
    border: 2px solid #000;
    /* place-self: center; */
}

.box1 {
    grid-column-start: 1;
    grid-column-end: 4;
    /* justify-self: start; */
    /* justify-self: center; */
    /* justify-self: end; */
    /* justify-self: stretch; */
}

.box2 {
    grid-row-start: 2;
    grid-row-end: 4;

    /* align-self: end; */
    /* align-self: start; */
    /* align-self: center; */
    /* align-self: stretch;   */
}