footer {
    width: 100%;
    height: fit-content;
    background-color: $header-background-color;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 2rem;
    box-shadow: 0 0 8px 2px $secondary-color;

    p {
        text-shadow: 0 0 1rem $primary-color;
        font-size: $font-size;
        font-family: $font-family;
    }
}