
body {
    background-color: #212121;
    color: #fff;
}

.container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 56px;
    width: auto;
    background-color: #212121;
}

div {
    border: 1px solid #fff;
    height: 42px;
    width: 85px;
    background-color: #fff;
    color: red;
    display: flex;
    justify-content: center;
    align-items: center;
    font-variant: small-caps;
    letter-spacing: 2px;
    text-shadow: 3px 3px 3px gray;
    border-radius: 4px;
    box-shadow: 0px 0px 1px #fff;
    /* border: none; */
    filter:saturate(200%);
    font-size: 1.5rem !important;
}

