* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropbtn {
    min-width: 160px;
    padding: 10px 10px;
    margin: 8px 4px;
    font-size: 1.1rem;
    background-color: #04AA6D;
    color: #fff;
    border: none;
    border-radius: 4px;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}

.dropdown-content a {
    text-decoration: none;
    display: block;
    color: #000;
    padding: 12px 20px;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown-content a:hover {
    background-color: #ddd;
}

.dropbtn:hover {
    background-color: green;
}